h1 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 img {
    margin-right: 10px;
}
p {
    font-size: 1.4rem;
} 
li {
    font-size: 1.4rem;
}
.question {
    font-style: italic;
    font-size: 1.5rem;
}
div.large-img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.img-inset {
    margin-left: 40px;
}